.score-detail-view {
 flex-grow: 0.9;
  display: flex;
  flex-direction: column;
  font-size: var(--score-small-font-size);
}

.score-detail-view .header {
  font-weight: bold;
  border-bottom: var(--border-style);
}

.score-detail-view .body{
    overflow-y: scroll;
    min-height: 50vh;
    flex-grow: 1;
}

.score-detail-view .header,
.score-detail-view .item-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (min-width: 800px) {
  .score-container {
    display: flex;
    flex-direction: column;
  }
  .score-footer {
    font-size: var(--score-big-font-size);
  }
}
